:root{
    --clr_blue: #eef7ff;
    --clr_grey: #363636;
}
body,html{
    margin: 0;
    padding: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3, ul, li{
    text-align:center;
}
.wrapper{
    display: block;
}
header h1{
    margin: 0px 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--clr_blue);
}
header{
    /* background-color: rgba(255, 255, 255, 0.801); */
    background-color: var(--clr_grey);
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    position: sticky;
    position: -webkit-sticky;
    /* border-radius: 0px 0px 30px 30px; */
}
header #logo{
    width: 50px;
    height: 50px;
}
header span{
    color: rgb(126, 134, 158);
}
header .score{
    display: flex;
    flex-direction: column;
}
header .score_values{
    display: flex;
    justify-content: space-between;
}
header .score_bar{
    margin-top: 15px;
    width: 250px;
    height: 10px;
    /* position: relative; */
    border-radius: 12px;
    background: #363636;
    box-shadow: inset 5px 5px 8px #1e1e1e, 
    inset -5px -5px 8px #4e4e4e;
}
header .score_bar #bar{
    
    background-color: #ffd05b;
    border-radius: 12px;
    font-size: 7px;
    text-align: center;
    line-height: 10px;
    color: rgb(59, 59, 59);
    font-weight: bold;
    height: 10px;
    width: 1%;
    transition: width 600ms cubic-bezier(.68,-0.55,.27,1.55);
    

}
/* header .score_bar::after{
    content: "";
    position: absolute;
    width: 250px;
    height: 10px;
} */
body{
    background-color: var(--clr_blue);
    color: var(--clr_grey);
}
.questions_form{
    margin: 20px;
}

h1, h3,h4{
    font-weight: lighter;

}

label{
    display: block;
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: background-color 300ms, color 300ms;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.question input{
    display: none;
}

.question input:checked + label{
    background-color: rgba(27, 112, 197, 0.64);
    color: #fdfdfd;
    /* font-weight: bold; */
    /* opacity: 0; */
    /* display: none; */
}

.question label:first-of-type{
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    /* color: red; */
    /* display: none; */
}
.question label:last-of-type{
    border-radius: 0px 0px 5px 5px ;
}

#calculate{
    display: block;
    border: none;
    outline: none;
    padding: 15px 0px;
    background-color: rgb(49, 191, 31);
    color: whitesmoke;
    border-radius: 5px;
    width: 100%;
    font-size: 1.2em;
    cursor: pointer;
    margin: 10px auto;
    box-shadow: 1px 1px 3px rgb(54, 54, 54, 0.2);
}
